# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

main
*.txt

# Archivos generados por Python y pybind11
*.pyd
__pycache__/
build/

# Configuración local de VS Code
.vscode/

# Documentación generada por Doxygen
documentacion/

# Compilación generada por VTK
vtk/build/

# Ejecutables generados por CUDA
cuda/*.exe

# Permitir el archivo de configuración de VTK
!vtk/CMakeLists.txt