# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

main
*.txt

build/
__pycache__/
*.pyd
*.so
*.egg-info/

*.exe
*.pyd
build/
__pycache__/
.vscode/

git add Doxyfile .gitignore TareaMatrix/DemoCPP.cpp
>> git commit -m "Agregar documentacion con Doxygen"
>> git status
warning: in the working copy of 'Doxyfile', LF will be replaced by CRLF the next time Git touches it
[16-Matrix 0d375e1] Agregar documentacion con Doxygen
 1 file changed, 3093 insertions(+)
 create mode 100644 Doxyfile
On branch 16-Matrix
Untracked files:
  (use "git add <file>..." to include in what will be committed)
        documentacion/

nothing added to commit but untracked files present (use "git add" to track)
/documentacion/
/documentacion/
